* {
  box-sizing: border-box;
}

#check-menu{
    display:none;
}

label{
  z-index:9999;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 25px;
  margin-right:25px;
  display:block
}

.burger-menu{
 display: none;
}

.wrapper{
   display: none;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #19CEDF;
    transition: .5s all;
    visibility:hidden;
}

.second,.third{
    top: 18px;
}

.fourth{
    top: 28px;
}

html{
  font-family: roboto, sans-serif;
  font-family: futura-pt, sans-serif;
  font-size: 62.5%;
}

body{
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction: column;
}

header{
   position: sticky;
   top: 0;
   background-color:#fff;
   box-shadow: 0px 0px 10px 0px rgba(0 ,0, 0, .2);
}

p{
  font-family: roboto, sans-serif;
}

.container{
  padding-right:25px;
  padding-left:25px;
  max-width:1640px;
  width: 100%;
  margin: 0 auto;
}

.header_wrapper{
  display:flex;
  align-items:center;
  justify-content: space-between;
  height:auto;
  padding-top:20px;
  padding-bottom:18px;
}

.main-logo_block{
  align-items: center;
  display:flex;
}

.main-info{
  margin-left:17px;
}

.adress{
  font-family: roboto, sans-serif;
  font-size:14px;
  margin-top:0;
  margin-bottom:9px;
  width:150px
}

.phone{
  font-family: roboto, sans-serif;
  font-size:16px;
  margin-top:0;
  margin-bottom:0;
  width:150px
}

a{
  cursor: pointer;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  font-size:20px;
  outline: none;
  text-decoration:none;
  color:#000
}

.catalog{
  color:#19CEDF;
}

.catalog:hover{
  color: #F9CF98
}

a:hover{
  color:#19CEDF;
}

a:focus, 
a:visited{
  outline: none;
}

.main-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
}

.main-nav__dd-wrapper{
   position: relative;
   display: flex;
   align-items: center;
}

.main-nav__dd {
    white-space: nowrap;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 60px rgba(0,0,0,0.1);
    min-width: 100px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    top:100%;
    transform: translateY(-20px) scale(0.9);
    z-index: 1;
    top:85px;
}

.main-nav__link:hover +
.main-nav__dd{
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}

.main-nav__dd-link{
  margin-bottom:20px;
  color:#9F9F9F
}

.main-nav__dd-link:last-child{
  margin-bottom:0;
}

.header_btns{
  max-height: 26px;
  display:flex;
}

.btn_cart{
   height:24px;
   margin-right:35px;
}

.btn_cart>svg{
   fill:black;
}

.btn_search>svg{
   height:24px;
   fill:black;
}

.go_down{
  display:none;
}

.langs-list{
    cursor: pointer;
    padding:0px;
    display: inline-flex;
    list-style: none;
    margin-left: 60px;
    margin-top:0;
}

.lang-item {
    margin-right: 6px;
    font-family: roboto, sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.lang-link{
    color:#19CEDF;
}

.main-nav__link>.arrow{
  fill:black;
}

.main-nav__link{
  display:flex;
  align-items:center;
}

main{
  width: 100%;
  display:flex;
  flex-direction:column
}

.promo_block{
  background:url(https://i.lensdump.com/i/AhGrfr.png) center/cover no-repeat;
  display:flex;
  flex-direction: column;
  align-items:center;
  max-width:1920px;
  width: 100%;
  margin:0 auto;
  min-height:960px;
}

.promo_phrase{
  text-transform: uppercase;
  font-size:100px;
  text-align:center;
  margin-top:222px;
  line-height:128px;
  color:#fff;
  font-weight:500;
  margin-bottom:224px;
}

svg{
  fill:white
}

svg:hover{
  fill:#19CEDF;
}

.socials>.socials_icons{
  margin-right:26px;
}

.socials{
  display:flex;
}

.socials>a:last-child{
  margin-right:0;
}

section{
  width:100%;
  display:flex;
  align-items:center;
}

picture{
  width: 50%;
  overflow: hidden
}

.new{
  width: 50%;
  padding-left:7.06vw;
  padding-right:7.29vw;
}

h3{
  margin-top:0;
  font-size:70px;
  font-weight:500;
  text-transform: uppercase;
  color:#19CEDF;
  margin-bottom:30px;
}

.new>p{
   font-family: roboto, sans-serif;
   font-size:22px;
   margin-bottom:0;
}

button{
   cursor: pointer;
   background-color:#19CEDF;
   border: none;
   color: white;
   text-transform: uppercase;
   width: auto;
   height: 40px;
   letter-spacing:0.1rem;
   font-size: 2rem;
   border-radius: 10rem;
   margin-top:2.7vw;
   padding:2px 25px 0px 25px;
}

button:hover{
  box-shadow: 0 0 10px #19CEDF
}

.special_offer{
  background:url(https://i.lensdump.com/i/AhamUb.jpg) center/cover no-repeat;
}

.special_offer_main{
  max-width:1640px;
  width:100%;
  height:460px;
  margin:20px 0 20px 0;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.facebook_offer{
  font-family: roboto, sans-serif;
  padding-left:14.48vw;
  color:white;
  width:70%;
}

.facebook_offer>h2{
  font-size:48px;
  font-weight:400;
  margin:0;
}

.facebook_offer>p{
  font-size:24px;
}

.facebook_offer>a{
  display:flex;
  align-items: center;
}

.facebook_offer>a:after{
  content:'вступить в группу';
  color:white;
  padding-left:19px;
}

.insta_offer>h2{
  text-transform: uppercase;
  font-size:20px;
  font-weight:500;
  margin:0;
  color:white;
  margin-bottom:10px;
}

footer{
  display:flex;
  flex-direction:column;
  background-color:#F5F5F5;
}

.footer-menu{
  padding-right:25px;
  padding-left:25px;
  justify-content: space-between;
  max-width:1520px;
  width: 100%;
  margin: 0 auto;
  display:flex;
  margin-top:106px;
}

.menu_col{
  max-width:276px;
  display:flex;
  flex-direction:column;
}

.col:after{
  content: '';
  display:block;
  width: 40px;
  height: 2px;
  background-color:#9F9F9F;
  margin:20px 0 0 0;
}

.menu_col>ul{
  display: column-flex;
  list-style: none;
  padding:0;
}

.menu_col>ul>li{
  margin-top:20px;
}

.menu_col>p{
  font-size:18px;
  color:#000
}

.col_under{
  font-size: 18px;
  color:#9F9F9F;
}

.menu_second_layer{
  padding-right:25px;
  padding-left:25px;
  max-width:1364px;
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items:baseline;
}

.menu_second_layer>a{
  font-size:18px;
  text-transform:none;
  text-decoration:underline;
}

.menu_second_layer>button{
  background-color:#F5F5F5;
  color:black;
  border: solid black 2px;
}

footer>i{
  padding-right:25px;
  padding-left:25px;
  font-family: roboto, sans-serif;
  max-width:1640px;
  width:100%;
  margin:0 auto;
  font-size: 20px;
  margin-top:80px;
  color:#9F9F9F;
}

footer>i:after{
  content:'';
  display:block;
  max-width:1364px;
  width:100%;
  height:2px;
  margin:0 auto;
  background-color:#9F9F9F;
  margin-top: 8px;
  margin-bottom: 54px;
}

.footer_bottom{
  padding-right:25px;
  padding-left:25px;
  max-width:1640px;
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
  margin-bottom:100px;
}

.footer_bottom>p{
  font-size:18px;
  margin:0;
}

.footer_bottom>a>p{
  font-size:18px;
  margin:0;
}

.footer_bottom>a>svg{
  fill:black;
  margin-right:22px;
}

.footer_bottom>a>svg:hover{
  fill:#19CEDF;
}

.footer_bottom>a{
  padding:0;
  font-size:18px;
  text-transform:none;
  display: flex;
  align-items:center;
  }

.footer_bottom>.langs-list{
  margin-bottom:0;
}

.little_insta{
  display:none
}
@media (max-width: 1200px){
  .header_wrapper>.main-nav_header,
  .catalog,
  .main-nav__link,
  .header_btns{
  display:none;
}
  
  .header_wrapper{
    padding-top:10px;
    padding-bottom:10px;
  }
  
  .main-info{
    max-height:68px;
  }
  
  .promo_block{
    max-height:100vw;
    min-height:0;
  }
  
  .container{
  padding-right:0px;
  padding-left:0px;
}
  
.main-nav__dd-wrapper {
    flex-direction: column;
 }
    
.main-logo{
    margin-left:25px;
  }
  
  .burger-line{
    z-index:999;
    visibility: visible;
    margin-right:25px;
}

  .wrapper{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    position: relative;
    text-align: left;
    height: 40px;
  }
  
  .burger-menu{
    padding-left:25px;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 320px;
    bottom: 55px;
    right: -10px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
 }
  
  .burger-menu>a:last-child{
    padding-bottom:25px;
  }
  
  .burger-menu>a:first-child{
    padding-top:25px;
    padding-bottom:25px;
  }
  
  .burger-menu>.btn_search {
    position: absolute;
    left: 150px;
    top: 15px;
}
  
  .burger-menu_second{
    font-size:14px;
    color:#9a9a9a
  }

.burger-menu>a{
   display: block;
   width: 100%;
   padding: 10px;
   text-decoration: none;
}
  
#check-menu:checked ~ .burger-menu{
    max-height: 600px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}

.promo_phrase{
  margin-top:13vw;
  margin-bottom:13vw;
  font-size:6.15vw;
  line-height:7vw;
}
  
.socials{
   margin-bottom:20px;
}

.footer-menu,.menu_second_layer,i,.footer_bottom{
  padding-left:25px;
  padding-right:25px;
}

i:after{
  width:92.3vw
}


h3{
  margin-bottom:15px;
  margin-top:20px;
  font-size:5.38vw;;
  font-weight:500;
  text-transform: uppercase;
  color:#19CEDF;
}

.new>p{
   font-family: roboto, sans-serif;
   font-size:16px;
   margin-bottom:0;
}
  .facebook_offer>a {
    display: flex;
    align-items: center;
    width:auto;
}
  .menu_second_layer>button{
    height:auto
  }
  .footer_bottom>p{
    min-width:320px;
  }
}

@media (max-width: 1000px){
  section{
    flex-direction:column;
  }
  picture{
    width:100%
  }
  .new{
    width:100%
  }
  
  h3{
    margin-top:20px;
  }
  
  .new>button{
    margin-bottom: 40px;
  }
  .history{
    flex-direction: column-reverse
  }
  
  .special_offer_main{
    margin-top:0;
    flex-direction:column;
  }
  
  .facebook_offer{
    display:flex;
    flex-direction:column;
    width:100%;
    padding-left:25px;
    padding-right:25px;
    margin-top:40px;
    align-items:center;
  }
  
  .facebook_offer,.insta_offer>h2{
    text-align:center
  }
  
   .facebook_offer>p{
     font-size:16px;
    text-align:center
  }
  
  .big_insta{
    display:none
  }
  
  .insta_offer{
    padding:0;
  }
  
  
  .little_insta{
    display:flex;
}
  
  .footer_bottom>a>svg{
  margin-right:2.2vw;
}
  i{
    font-size:1.8vw;
  }
  .footer_bottom>p{
    font-size:1.8vw;
  }
  
  .footer_bottom>a>p{
    display:none;
  }
}

@media (max-width:870px){
  .wrapper {
    height: 30px;
}
  
  .header_wrapper{
    padding-top:0px;
    min-height:65px;
  }
  
  footer{
    height:auto;
  }
  
 .main-info{
    display:none;
  }
  
  .langs-list{
    display:none
  }
  
  label{
    margin-right:0;
  }
  .burger-line{
    margin-right:0;
  }
  .wrapper {
    width:35px;
    margin-right:20px;
  }
  
 .main-logo_block>.main-logo{
    margin-left: 20px;
    width:240px;
    position:absolute;
    top:20px;
    left: 0;
    padding:0px;
 }  
  .promo_block{
    min-height:640px;
  }
  
  .promo_block>h1{
    margin-top:175px;
    line-height:10vw;
    font-size:9vw;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
  }
  
  .socials>a{
    display:none
  }
  
  .go_down{
   margin-top:50px;
   display:flex;
}
  
  .promo_phrase{
    font-size:11vw;
  }
  
  .new>p{
    font-size:14px;
  }
  
  .new>button{
    font-size: 18px;
    margin-top:50px;
    min-height:40px;
    height:auto;
    max-height: 80px;
  }
  
  .special_offer_main{
    height:auto;
    align-items:flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:25px;
  }
  
  .facebook_offer{
    align-items:flex-start;
    padding:0;
  }
  
  .facebook_offer>h2{
    font-size:20px;
  }

  .facebook_offer>p{
    text-align:left;
  }
  
  .facebook_offer>a>svg{
    width: 38px;
    height: 38px;
  }
  
  .facebook_offer, .insta_offer>h2{
    text-align:left;
  }
  
  .insta_offer{
    display:none;
  }
  
  .facebook_offer>a:after{
    font-size:6vw;
    text-decoration: underline
  }
  
  .footer-menu{
    margin-top:50px;
    flex-direction:column;
    align-items:center;
  }
  
  .col:after{
    display:none;
  }
  
  .menu_col>a{
    font-family: futura-pt, sans-serif;
    font-size:36px;
  }
  
  .menu_col>a{
    margin-bottom:50px;
  }
  
  .menu_second_layer{
    display:none
  }
  
  .menu_col>a,
  .menu_col>p{
   text-align:center;
  }
  
  .footer-menu>.menu_col>ul{
    display:none;
  }
  
  .footer_bottom{
    background-color:#19CEDF;
    margin-bottom:0;
  }
  
  .footer_bottom>a{
    display:none;
  }
  
  .footer_bottom>p{
    text-align:center;
    font-size:18px;
    margin:0 auto;
    padding-bottom:20px;
  }
  
  footer>i{
    margin-top:50px;
    text-align:center;
    font-size:12px;
    color:white;
    background-color:#19CEDF;
    padding-top:35px;
    padding-bottom:20px;
  }
  
  footer>i:after{
    display:none;
  }
  
  .footer_bottom>.langs-list{
    display:none
  }
}

@media (max-width:440px){
  .wrapper {
    width: 35px;
    margin-right: 10px;
}
  .promo_block{
    min-height:520px;
  }
  .promo_block>h1{
    margin-top:140px;
  }
 .burger-line {
    width: 24px;
}
.main-logo_block>.main-logo {
    margin-left: 10px;
    max-width: 200px;
}
}
